
.label-text{
    padding-bottom: 10px;
     text-align: left;
}

.label-style {
    font-size: 20px;
    text-align: left;
    text-decoration-line:inherit;
}
 
.input-field-style{
    width: 100%;
}

.input-field-style:hover{
    background-color: red;
}

.error-message {
    color: red;
    text-align: left;
    padding-top: 10px;
}
