.input-btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 22px;
}
.filter-modal-style {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0.7em;
  margin-bottom: 3.5em;
}
