.datagrid-container {
  height: 520px;
  width: auto;
  margin-right: 20px;
}

/* filter box start */
.reset-submit {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.scheduling-container {
  display: flex;
  flex-direction: column;
}

.status-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 10px;
}

.department-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.department-container > .select-box-container {
  margin: 10px 0 18px 0px;
}
.filter-body {
  height: 200px;
  width: 250px;
}
/* filter box end */

/* search box start */
.search {
  padding: 8px;
  margin-right: 5px;
}
/* search box end */
