.form {
  width: 95%;
  height: auto;
  margin: auto;
}

.text-field {
  text-align: left;
  border: 0.5px solid rgb(195, 195, 195);
  width: 95%;
  padding: 13px;
  box-shadow: 0.5px 1px rgb(193, 193, 193);
  border-radius: 5px;
  font-size: 18px;
}

.label-style {
  text-align: left;
  color: rgb(49, 49, 49);
  padding-bottom: 5px;
}


.cancel-button {
  background-color: rgb(255, 255, 255);
  padding: 10px 12px;
  border-radius: 5px;
  border: 0.5px solid rgb(76, 102, 205);
}
.cancel-button:hover {
  color: white;
  background-color: rgb(176, 2, 2);
}
