.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 25px;
  font-weight: bold;
  padding-left: 70px;
  color: rgb(79, 78, 78);
}
