.media-icons {
  display: flex;
}
.media-icons a {
  height: 35px;
  width: 35px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.media-icons a:nth-child(1) {
  background: #4267b2;
}
.media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.media-icons a:nth-child(2) {
  background: #1da1f2;
}
.media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.media-icons a:nth-child(3) {
  background: #e1306c;
}
.media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.media-icons a:nth-child(4) {
  background: #0077b5;
}
.media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.media-icons a:nth-child(5) {
  background: #ff0000;
}
.media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
