/* .table-style {
  height: 200px;
  width: auto;
  margin-right: 20px;
} */

.table-styles {
  height: auto;
  width: auto;
}

/* page component styles */
.root {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-between";
}

.title-style {
  margin: 10% 0% 1% 1%;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1;
  border-color: divider;
  width: 95%;
  margin-top: 2%;
}

.button {
  margin: "2% 4% 0% 0%";
  padding: "10px";
  height: "30px";
}
