/* .table-style {
  height: 200px;
  width: auto;
  margin-right: 20px;
} */

.table-styles {
  height: auto;
  width: auto;
}

/* page component styles */
.root {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-between";
}

.title-style {
  margin-top: "15px";
  font-weight: "15px";
  /* color: orange; */
}

.button {
  margin: "2% 4% 0% 0%";
  padding: "10px";
  height: "30px";
}
