.form {
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 4%;
}

.input-field {
  text-align: left;
  border: 0.5px solid rgb(195, 195, 195);
  width: 95%;
  padding: 13px;
  box-shadow: 0.5px 1px rgb(193, 193, 193);
  border-radius: 5px;
  font-size: 18px;
}

.input-file-field {
  text-align: left;
  border: 0.5px solid rgb(195, 195, 195);
  width: 95%;
  padding: 11px;
  box-shadow: 0.5px 1px rgb(193, 193, 193);
  border-radius: 5px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .input-field .input-file-field {
    width: 90%;
    padding: 8px;
  }
}
